/* Banner style */
#banner {
    position: relative;
    width: 100%;
}

.banner-img {
    background-image: url(../assets/img/background-city.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-title {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 46.095px);
    display: inline-block;
}

/* Introduction section style */
#introduction {
    text-align: center;
}

#introduction div {
    border: 2px solid antiquewhite;
    border-radius: 50px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}


.content-list,
.content-about {
    width: 80%;
    margin: auto;
    text-align: left;
}

.content-list li {
    list-style-type: disclosure-closed;
}

#introduction p {
    line-height: 1.5;
}

.redirect,
.redirect:visited {
    color: aquamarine;
}