/*Global style*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Oswald", sans-serif;
}

body {
    color: antiquewhite;
    background-color: rgb(47, 45, 43);
    max-width: 100vw;
}

/* Header style*/
header {
    text-align: center;
}

/* Navigation style */
.nav-list {
    text-align: center;
}

.nav-list > li {
    display: inline-block;
    padding: 10px;
}

#current-page {
    border-bottom: 2px solid aquamarine;
}

a:visited,
a:link {
    color: antiquewhite;
}

a:hover,
#current-page:hover {
    color: green;
}

a:active,
#current-page:active {
    color: yellow;
}

/* Footer style*/
footer {
    padding: 10px;
    text-align: center;
}

.break {
    display: block;
}

/*Scrollbar style */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #0c0c0c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}